body#LoginForm{ background-image:url("/images/background2.jpeg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

.form-heading { color:rgb(203, 223, 30); font-size:23px;}

.panel h2{ color:#c7ca0b; font-size:34px; margin:0 0 8px 0;}
.panel h1{ color: #8d7905; font-size:34px; margin:0 0 8px 0;}
.panel p { color: #ad6b57; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #180e00 none repeat scroll 0 0;
  border-radius: 25px;
  border: 2px solid #73AD21;
  margin: auto auto 30px;
  max-width: 38%;
  padding: 20px 70px 70px 71px;
  opacity: .85;
border-block-style: round;
border-top-style: groove;

}
.heading{
  font-size:30px;

}
.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #da7707 none repeat scroll 0 0;
  border-color: #f0ad4e;
  border-bottom-style: solid;
  color: #ffffff;
  font-size: 14px;
  width: 70%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: center; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
.heading1
{
  margin-left: 560px;
  font-size: 40px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
}
h1
{
    color:rgba(177, 40, 40, 0.616);
}
.label
{
    color: #180e00;
    text-emphasis-color:red;
}
.loginform{
text-align: center;
}